<!DOCTYPE html>
<html>
<head>
  <title>Audrey</title>
  <%= stylesheet_link_tag    "audrey/application", media: "all" %>
  <%= javascript_include_tag "audrey/application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<nav class="breadcrumbs">
  <a href="/">Back Home</a>
  <a href="/feedback">Feedback Topics</a>
  <a href="/feedback/topics/new">New Topics</a>
</nav>

<div class="container audrey-feedback-engine">
<%= yield %>
</div>

</body>
</html>
